h1 {
  color: #bada55;
}
body {
   background-color: #202020;
  }
.p1 {
  color: #ffffff;
  border: 2px solid #ffffff;
}
  div {
    background-color: rgba(0,50,200,0.6);
  }
.red_text {
  border: dotted 2px #ffffff;
  color: #ff3030;
}
.white_text{
  border: dotted 2px #ffffff;
  color: #ffffff;
}
.green_text {
  border: dotted 2px #ffffff;
  color: #00ff00;
}
span {
text-decoration: underline;
}
